[Unit]
Description=Musicbot for 2600nl radio
Requires=network-online.target
After=mpd.service

[Service]
ExecStart=/usr/local/bin/musicbot -f /etc/musicbot/2600nl.yaml
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
