<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet Radio Service</title>
    <meta http-equiv=”refresh” content=”60" url="/" />
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div id="background"></div>
<div class="wrap">
    <div id="leftSpace">&nbsp;</div>
    <div id="contentDiv">
        <h2>Available stations</h2>
        <div class="stationContent">
            <span class="stationHeader">2600nl Radio</span> -
            <span class="stationDescription">The best sounds on the internet, brought to you by #2600nl</span>
            <p/>Playing: %2600NL_NOWPLAYING%<br/>
            <small>Listeners: %2600NL_NUMLISTENERS%</small>
            <p/>
            <table>
                <tr>
                    <th>Format</th>
                    <th>TLS</th>
                    <th>Click to listen</th>
                </tr>
                <tr>
                    <td>html5</td>
                    <td>yes</td>
                    <td><a href="/2600nl" target="_blank">https://radio.as65342.net/2600nl</a></td>
                </tr>
                <tr>
                    <td>mp3</td>
                    <td>yes</td>
                    <td><a href="https://radio.as65342.net/stream/2600nl.mp3">https://radio.as65342.net/stream/2600nl.mp3</a></td>
                </tr>
                <tr>
                    <td>ogg</td>
                    <td>yes</td>
                    <td><a href="https://radio.as65342.net/stream/2600nl.ogg">https://radio.as65342.net/stream/2600nl.ogg</a></td>
                </tr>
                <tr>
                    <td>mp3</td>
                    <td>no</td>
                    <td><a href="http://radio.as65342.net:8000/2600nl.mp3">http://radio.as65342.net:8000/2600nl.mp3</a></td>
                </tr>
                <tr>
                    <td>ogg</td>
                    <td>no</td>
                    <td><a href="http://radio.as65342.net:8000/2600nl.ogg">http://radio.as65342.net:8000/2600nl.ogg</a></td>
                </tr>
            </table>
        </div>
        <div class="stationContent">
            <span class="stationHeader">90s DnB/Jungle</span> -
            <span class="stationDescription">Archive of DnB/Jungle party sounds from clubs in the 90s</span>
            <p/>Playing: %TAPES_NOWPLAYING%<br/>
            <small>Listeners: %TAPES_NUMLISTENERS%</small>
            <p/>
            <table>
                <tr>
                    <th>Format</th>
                    <th>TLS</th>
                    <th>Click to listen</th>
                </tr>
                <tr>
                    <td>mp3</td>
                    <td>yes</td>
                    <td><a href="https://radio.as65342.net/stream/tapes.mp3">https://radio.as65342.net/stream/tapes.mp3</a></td>
                </tr>
                <tr>
                    <td>ogg</td>
                    <td>yes</td>
                    <td><a href="https://radio.as65342.net/stream/tapes.ogg">https://radio.as65342.net/stream/tapes.ogg</a></td>
                </tr>
                <tr>
                    <td>mp3</td>
                    <td>no</td>
                    <td><a href="http://radio.as65342.net:8000/tapes.mp3">http://radio.as65342.net:8000/tapes.mp3</a></td>
                </tr>
                <tr>
                    <td>ogg</td>
                    <td>no</td>
                    <td><a href="http://radio.as65342.net:8000/tapes.ogg">http://radio.as65342.net:8000/tapes.ogg</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="rightSpace">&nbsp;</div>
</div>
<div style="clear:both;"></div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
