<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/favicon.ico">

    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Import darkly theme -->
    <link href="/css/theme-darkly.min.css" rel="stylesheet">

    <!-- Bootstrap Slider -->
    <link href="/css/bootstrap-slider.min.css" rel="stylesheet">

    <!-- Bootstrap Toggle -->
    <link href="/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Load stylesheet for player -->
    <link href="/css/player.css" rel="stylesheet">

</head>

<body>
<div id="ViewPort" class="container">
    <div id="PlayerView">
            <div id="idPlayerColumn" class="col col-md-9 col-xs-12 main">
                <div id="idControls" class="row">
                    <div class="col col-md-3 col-md-offset-0 col-xs-12 col-xs-offset-3">
                        <img id="idAlbumArt" alt="No art found"/>
                    </div>
                    <p/>
                    <div class="col col-md-7 col-xs-12">
                        <div class="row">
                            <h4 id="idNowPlaying" class="display-5">Nothing
                                playing
                                ...</h4>
                            <input id="trackSlider"
                                   data-slider-id='trackSliderData'
                                   type="text" data-slider-min="0"
                                   data-slider-max="100"
                                   data-slider-step="1" data-slider-value="14"/>
                            &nbsp;&nbsp;&nbsp;<span id="idDuration">-1</span>
                        </div>
                        <p/>
                        <div class="row">
                            <button type="button" class="btn btn-default btn-xs"
                                    id="idPlay"><span
                                    class="glyphicon glyphicon-pause"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    id="idNext"><span
                                    class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <span id="idVolSlider" class="hidden-xs">
                                &nbsp;
                                <input id="volSlider"
                                   data-slider-id='volSliderData'
                                   type="text" data-slider-min="0"
                                   data-slider-max="100" data-slider-step="1"
                                   data-slider-value="14"/>
                                &nbsp;
                            </span>
                            <button type="button" class="btn btn-default btn-xs"
                                    id="idBoo"><span
                                    class="glyphicon glyphicon-thumbs-down"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    id="idTune"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                            &nbsp;
                            <span id="idRating" class="badge">-1/10</span>
                        </div>
                    </div>
                </div>
                <div id="idQueue" class="row">
                    <div class="col">
                        <div id="Alert"
                             class="alert alert-warning alert-dismissible hidden"
                             role="alert">
                            <button type="button" class="close"
                                    aria-label="Close"
                                    onclick="HideNotification();"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                            <span id="AlertMessage"></span>
                        </div>
                        <div id="PlayQueue">
                            <h4 class='ident'>Queue is empty</h4>
                        </div>
                    </div>
                </div>
                <div id="idPlaylistControls" class="row">
                    <hr/>
                    <div class="col-md-1 col-xs-1">
                        <input id="idPlaylistMode" type="checkbox" checked
                               data-toggle="toggle" data-on="Playlist"
                               data-off="Random" data-onstyle="success"
                               data-offstyle="success" data-size="small">
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-xs-9 col-xs-offset-2">
                        <div id="idRandomControls">
                            <button class="btn btn-sm btn-success"
                                    onclick="RefreshPlaylist()">
                                Refresh
                            </button>
                        </div>
                        <div id="idPaginationControls">
                            <ul id="ArtistPagination"
                                class="pagination pagination-sm">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="idPlaylist" class="row">
                    <div class="table-responsive">
                        <table id="Playlist" class="table table-striped">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th><a class="sort"
                                       onclick="SortBy(0);">Artist</a></th>
                                <th><a class="sort"
                                       onclick="SortBy(1);">Title</a></th>
                                <th><a class="sort" onclick="SortBy(2);">Duration</a>
                                </th>
                                <th><a class="sort"
                                       onclick="SortBy(3);">Rating</a></th>
                            </tr>
                            </thead>
                            <tbody id="ArtistResults">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="desktop-only col col-md-3 col-md-offset-9 col-xs-3 col-xs-offset-9 bg-default sidebar">
                <div class="row">
                    <input type="search" id="ArtistFilter"
                           onchange="FilterArtists()"
                           placeholder="Search ...">
                </div>
                <div class="row">
                    <ul id="Artists" class="nav nav-sidebar"
                        styledata-spy="affix"
                        data-offset-bottom="10">
                        <span class="ident">Loading artists ...</span>
                    </ul>
                </div>
            </div>
            <div id="streamcontrols">
                <audio id="audioControls">
                    <source id="streamSrc" src="{{.Mp3Stream}}"
                            type="audio/mpeg"/>
                    <source id="streamSrc" src="{{.OggStream}}"
                            type="audio/ogg"/>
                    Your browser does not support the audio element for the
                    stream
                    formats.
                </audio>
            </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap-slider.min.js"></script>
<script src="/js/bootstrap-toggle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script>
    function FilterArtists() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("ArtistFilter");
        filter = input.value.toUpperCase();
        ul = document.getElementById("Artists");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
        pgPage = 0;
        pgIndex = 0;

        RefreshPlaylist();
    }
</script>
</body>
</html>
