<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/2600nl.css">
</head>
<body>

<div class="wrap">
    <div id="leftSpace">&nbsp;</div>
    <div id="contentDiv">
        <div id="logo"><img src="/img/logo.png" alt="{{.Title}}"/></div>
        <div id="nowPlaying">Waiting for data..</div>
        <div id="controls">
            <div id="streamcontrols">
                <audio id="audiocontrols">
                    <source id="streamSrc" src="{{.Stream}}" type="audio/ogg" />
                    Your browser does not support the audio element for ogg.
                </audio>
            </div>
            <div id="buttons">
                <input class="button" id="idPlay" type="button" value="Play"/>
                <input class="button" id="idVolDown" type="button" value="Vol Down"/>
                <input class="button" id="idVolUp" type="button" value="Vol Up"/>
                <input class="button" id="idTune" type="button" value="Tune!!"/>
                <input class="button" id="idBoo" type="button" value="Boo!!"/>
                <input class="button" id="idNext" type="button" value="Next"/>
            </div>
        </div>
        <div id="links">
            <input class="button" id="idQuery" name="query" type="text" placeholder="Enter query"/>
            <div class="autocomplete-suggestions"></div>
            <input class="button" id="idSearch" type="button" value="Request"/>
            <input class="button" id="idPlaylist" type="button" value="Playlist"/>
        </div>
    </div>
    <div id="rightSpace">&nbsp;</div>
</div>
<div style="clear:both;"></div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.autocomplete.min.js"></script>
<script src="/js/player.js"></script>
</body>
</html>
