body {
    background: url('../img/dancing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input::-webkit-input-placeholder {
    color: black !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: black !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: black !important;
}

input:-ms-input-placeholder {
    color: black !important;
}

#controls {
    margin-left: 190px;
    vertical-align: middle;
}

#streamcontrols {
    float: left;
}

#buttons {
    margin-left: 20px;
    margin-top: 0px;
    float: left;
}

.button {
    background-color: #FF00BC; /* Green */
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

#links {
    margin-top: 10px;
    margin-left: 380px;
    vertical-align: middle;
    color: #FF00BC;
}

#logo {
    width: 1000px;
    text-align: center;
    margin-bottom: 20px;
}

#idQuery {
    width: 300px;
}

#contentDiv {
    width: 1000px;
    float: left;
    text-align: center;
}

#nowPlaying {
    color: #FF00BC;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#leftSpace {
    width: calc(50% - 450px);
    float: left;
}

#rightSpace {
    width: calc(50% - 450px);
    float: left;
}

#contentDiv, #leftSpace, #rightSpace {
    margin-top: 200px;
    height: 220px;
}