body {
    background: url('../img/dancing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input::-webkit-input-placeholder {
    color: #044A0B !important;
    font-style: italic;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #044A0B !important;
    font-style: italic;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #044A0B !important;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: #044A0B !important;
    font-style: italic;
}

.autocomplete-suggestions {
    background: #FFF;
    overflow: auto;
    display: inline-block;
}

.autocomplete-suggestion {
    background-color: #FF00BC;
    padding: 2px 5px; white-space: nowrap; overflow: hidden;
}

.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong {

    font-weight: bold; color: #044A0B;
}

.autocomplete-group {
    background-color: #FF00BC;
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

#controls {
    margin-left: 190px;
    vertical-align: middle;
}

#streamcontrols {
    float: left;
}

#buttons {
    margin-left: 20px;
    margin-top: 0px;
    float: left;
}

.button {
    background-color: #FF00BC; /* Green */
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: #044A0B;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: #FF00BC;
}

#links {
    margin-top: 60px;
    margin-left: 10px;
    vertical-align: middle;
    color: #FF00BC;
}

#logo {
    width: 1000px;
    text-align: center;
    margin-bottom: 20px;
}

#idQuery {
    width: 329px;
    cursor: text;
}

#contentDiv {
    width: 1000px;
    float: left;
    text-align: center;
}

#nowPlaying {
    color: #02E148;
    background-color: #222222;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid red;
    cursor: initial;
}

#leftSpace {
    width: calc(50% - 450px);
    float: left;
}

#rightSpace {
    width: calc(50% - 450px);
    float: left;
}

#contentDiv, #leftSpace, #rightSpace {
    margin-top: 200px;
    height: 220px;
}
